* {
   font-family: 'Comfortaa', sans-serif;
}

canvas {
   background: rgb(107, 107, 153);
}

.canvas-container {
   position: relative;
}

.canvas-container canvas,  #container-end, .timer-container, .buttons-container  {
   position: absolute;
 }

#container-end {
   height: 300px;
   width: 400px;
   text-align: center;
   color: white;
   font-weight: bold;
   display: none;
   margin: 0 auto;
   left: 30%;
   margin-top: 30%
}

.buttons-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 630px;
   margin-top: 800px;
   margin-left: 300px;
}

#stop-game-btn {
   background: #494949;
   width: 300px;

}

#stop-game-btn:hover {
   background: #ddd;
   color: black;
}

 #quit-game-btn {
   background: #494949;
   width: 300px;
 }

 #quit-game-btn:hover {
   background: #ddd;
   color: black;
 }

.timer-container {
   height: 30px;
   width: 30%;
   margin: auto;
   text-align: center;
}

#time-elapsed {
   color: azure;
   background-color: rgba(159, 127, 255, 0.25);
   margin: 0 auto;
   line-height: 2em;
}

.main-page {
   background: rgb(143, 143, 181);
   text-align: center;
   width: 60%;
   color: white;
}

#myVideo {
   position: fixed;
   right: 0;
   bottom: 0;
   min-width: 100%;
   min-height: 100%;
 }

 .content {
   position: fixed;
   bottom: 100;
   background: rgba(0, 0, 0, 0.5);
   color: #f1f1f1;
   width: 100%;
   padding: 20px;
   margin-top: 100px;
   text-align: center;
 }

 #myBtn, #quit-game-btn, #stop-game-btn, .game-start-btn {
   width: 300px;
   font-size: 18px;
   padding: 10px;
   border: none;
   background: #000;
   color: #fff;
   cursor: pointer;
 }
 
 #myBtn:hover {
   background: #ddd;
   color: black;
 }

 .game-start-btn:hover {
   background: #ddd;
   color: black;
 }

 .rules-box {
   position: fixed;
   margin-left: 300px;
   margin-top: 70px;
   text-align: center;
   width: 100%;
   width: 800px;
   height: 700px;
   background-color: #9393934f;
   color: white;
 }

 .regeln-box {
   font-size: 24px;
   text-align: left;
   display: inline-block;
 }

 .regeln-box img {
   margin: 1px;
   padding-right: 2px;
   margin-right: 33px;
 }

